<p>Hello! Thank you for supporting our work </p>


<form action="/send" method="POST">
  <label>
    <%= t.form.labels.source %>
    <input type="text" name="source" required />
    <p><%=t.form.labels.source_description %></p>
  </label>

  <label>
    <%= t.form.labels.comment %>
    <textarea name="comment"></textarea>
  </label> <br>

  <label>
    <%= t.form.labels.contact %>
    <input type="email" name="contact" />
    <p><%=t.form.labels.contact_description %></p>
  </label>

  <label>
    <%= t.form.labels.agreement %>
    <input type="checkbox" name="agreement" required />
  </label>

  <button type="submit"><%= t.form.labels.submit %></button>
</form>
