<p><%=t.sections.intro %> </p>

<form action="/send" method="POST">


<label>
  <p><%=t.form.labels.date_description %></p>
  <%= t.form.labels.date %>
  <input type="date" name="date" />
</label> <br>


  <label>
    <p><%=t.form.labels.source_description %></p>
    <%= t.form.labels.source %>
    <input type="text" name="source" required />
  </label> <br>

<p><%=t.sections.victim %> </p>

  <label>
    <%= t.form.labels.first_name_v %>
    <input type="text" name="first_name_v"/>
    <%= t.form.labels.last_name_v %>
    <input type="text" name="last_name_v"/>
  </label> <br>

  <label>
    <%= t.form.labels.age_v %>
    <input type="text" name="age_v"/>
  </label> <br>

  <%#Puh, wollen wir wirklich ALLE von Aleida vorgeschlagenen Felder anlegen??%>

<p><%=t.sections.case %> </p>

<p><%=t.sections.perpetrator %> </p>

<label>
  <%= t.form.labels.first_name_p %>
  <input type="text" name="first_name_p"/>
  <%= t.form.labels.last_name_p %>
  <input type="text" name="last_name_p"/>
</label> <br>

<label>
  <%= t.form.labels.age_p %>
  <input type="text" name="age_p"/>
</label> <br>

  <label>
    <%= t.form.labels.comment %>
    <textarea name="comment"></textarea>
  </label> <br>

<label>
  <p><%=t.form.labels.contact_description %></p>
    <%= t.form.labels.contact %>
    <input type="email" name="contact" />
</label> <br>

<label>
    <%= t.form.labels.agreement %>
    <input type="checkbox" name="agreement" required />
</label> <br>

  <button type="submit"><%= t.form.labels.submit %></button>
</form>
